.TeamStat {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &Value {
    font-family: $font-heading;
    &Purple {
      background: linear-gradient(to bottom, #8B61E5 0%, #6720FF 100%);
    }
    &Blue {
      background: linear-gradient(160deg, #6CA7FF 0%, #2D41F9 100%);
    }
    font-size: 86px;
    font-weight: 700;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }


  &Label {
    font-family: $font-body;
    font-size: 16px;
    color: $color-dark;
    max-width: 200px;
    font-weight: 500;
  }
}