$color-primary: #2D41F9;
$color-gradient: linear-gradient(to right, #2D41F9 0%, #9E70FF 46%, #36CFFF 100%);

$color-dark: #0B0D20;
$color-gray: #5C5E6E;
$color-lightGray: #CAD0E2;
$color-inActive: #EDEEFF;
$color-inActiveIcon: #CAD0E2;
$color-bgSelect: #EAEAEA;
$color-white: #FFFFFF;

$fontSize-desktop-h1: 58px;
$fontSize-desktop-h2: 48px;
$fontSize-desktop-h3: 36px;
$fontSize-desktop-h4: 24px;
$fontSize-desktop-h5: 18px;
$fontSize-desktop-h6: 16px;
$fontSize-desktop-h7: 18px;
$fontSize-desktop-h8: 16px;
$fontSize-desktop-h9: 14px;
$fontSize-desktop-h10: 12px;

$fontSize-mobile-h1: 32px;
$fontSize-mobile-h2: 24px;
$fontSize-mobile-h3: 16px;
$fontSize-mobile-h4: 12px;
$fontSize-mobile-h5: 12px;
$fontSize-mobile-h6: 12px;
$fontSize-mobile-h7: 12px;
$fontSize-mobile-h8: 8px;


$font-heading: var(--font-heading, 'Unbounded', sans-serif);
$font-body: var(--font-body, 'Wix Madefor Text', sans-serif);

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;

$container-padding: 24px;
$container-max-width: 1280px;