.OurTeam {
    background-image:
            radial-gradient(ellipse at 10% 90%, rgba(255, 255, 255, 1) 0%, rgba(90, 32, 205, 0.7) 100%),
            linear-gradient(140deg, #08158A 0%, #1A2ABE 21%, #2D41F9 41%, #8793FC 70%, #F0F1FF 100%);
    border-radius: 32px;
    padding: 120px 70px 60px;
    display: flex;
    width: 100%;
    &Container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
    }

    &Content {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &Title {
        font-family: $font-heading;
        font-size: 48px;
        font-weight: 600;
        color: $color-white;
    }

    &Description {
        font-family: $font-body;
        font-size: 16px;
        color: $color-white;
        line-height: 1.6;
        max-width: 400px;
    }

    &Button {
        align-self: flex-start;
    }

    &Stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 12px;
    }
}