.ClientLogos {
  overflow: hidden;
  max-width: 1325px;
  width: 100%;
  margin: 20px auto 0;
  position: relative;
  &Track {
    display: flex;
    gap: 68px;
    align-items: center;
    width: max-content;
    animation: scrollLogos 30s linear infinite;
    will-change: transform;
    &:hover {
      animation-play-state: paused;
    }
  }

  &Item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    width: 120px;

    &:hover {
      opacity: 1;
    }
  }
  &Image {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;

    &:hover {
      filter: grayscale(0%);
    }
  }
}


@keyframes scrollLogos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 34px));
  }
}