.Socials {
  display: flex;
  align-items: center;
  gap: 8px;

  &Link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.2s ease;
    &:hover {
      color: transparent;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}