.Header{
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 1405px;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0 0 24px 24px;
  padding: 20px 40px;
  margin: 0 auto;
  &Scrolled {
    background-color: $color-dark;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  &Container{
    width: 100%;
    &Nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &Block{
        display: flex;
      }
    }
  }
}
